* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;
      margin:0;
      background-color: #ffffff; 
      color: #000000;}
a:active, a:link, a:visited  {color: blue;}

.mySlides {display:none;
      background-color: #ffffff; 
      color: #000000;}


.mySlides ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mySlides li {
  padding: 8px 20px; 
  margin-bottom: 4px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
 text-align: center;
}


/* Caption text */
.text {
       background-color: #ffffff; 
       color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Big text */
.bigtext {
      background-color: #ffffff; 
      color: #000000;
  font-size: 36px;
  padding: 30px 20px;
  width: 100%;
  text-align: center;
}

/* Separator text */
.septext {
  color: #000000;
  font-size: 36px;
  padding: 10px 10px;
  width: 100%;
  text-align: left;
}

/*Middle sized text*/

.middletext {
      background-color: #ffffff; 
      color: #000000;
  font-size: 24px;
  padding: 30px 20px;
  width: 100%;
  text-align: center;
}

/*Middle sized text, alignrd left*/

.middletextleft {
      background-color: #ffffff; 
      color: #000000;
  font-size: 24px;
  padding: 30px 20px;
  width: 100%;
  text-align: left;
}



/* Other text */
.othertext {
       background-color: #ffffff; 
      color: #000000;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

/* Story text */
.storytext {
      background-color: #ffffff; 
      color: #000000;
  font-size: 18px;
  padding: 8px 12px;
  width: 90%;
  text-align: left;
}

/* Pdf page*/
/* Story text */
.pdfpage {
  float: right; 
  width: 90%; 
  overflow: auto;
  position: relative;
  height: auto;
 padding: 4px 20px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: red;
  font-size: 20px;
  padding: 4px 20px;
  position: absolute;
  top: 0;
/*  right: 0; */
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.4s;
  animation-name: fade;
  animation-duration: 0.4s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
